<section>
    <style>
            .titulo {
                color: white;
                padding-top: 10px;
                padding-bottom: 25px;
            }
        
            body {
                background-image: url('https://cdn.pixabay.com/photo/2014/11/25/20/44/rows-of-seats-545611_960_720.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                font-family: 'Maven Pro', sans-serif;
            }
        
            .container {
                background-color: white;
                padding: 30px;
                border-radius: 25px;
            }
        
            .op {
                padding: 25px;
            }

            .modal-title {
                font-family: 'Concert One', cursive;
            }
        </style>
<hr>
        <h1 style="font-family: 'Concert One', cursive; color: white; text-align: center;" data-bind="text: displayName"></h1>
    <hr>
    <div class="container">

        <h3 style="font-family: 'Concert One', cursive; padding-left: 25px;">What do you want to do?</h3>
        <hr>



        <div class="op" style="padding-top: 0;" data-bind="visible: isSpecialAccount">


            <button type="button" class="btn btn-dark col-sm-5" style="float: left; margin-left: 8px;"
                data-toggle="modal" data-target="#exampleModalCenter" >Upload a
                video!</button>
            <button type="button" class="btn btn-dark col-sm-5" style="float: right;" data-toggle="modal"
                data-target="#exampleModalCenter" >Upload an event!</button>

        </div>
        <hr>
        <div class="op" style=" padding-top: 0;">

            <label for="accountInfo" class="col-sm-6 col-form-label">See your account info:</label>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary col-sm-6" id="accountInfo" data-toggle="modal"
                data-target="#accInfo">
                Click here!
            </button>

            <!-- Modal -->
            <div class="modal fade" id="accInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="accccInfo">Account Info</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form>
                                <div class="form-group row">
                                    <label for="name" class="col-sm-3 col-form-labelmargin-top:10px;">Name:</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext" id="name"
                                            data-bind="value: fname">
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <label for="SecName" class="col-sm-3 col-form-label">Last name:</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext " id="SecName"
                                            data-bind="value: lname">
                                    </div>

                                </div>
                                <hr />
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext " id="staticEmail"
                                            data-bind="value: email">
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label for="usernamee" class="col-sm-3 col-form-label">Username</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext " id="username"
                                            data-bind="value: username">
                                    </div>

                                </div>
                            </form>
                            <button type="button" class="btn btn-secondary" style="float:right;"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="op">
            <!--HISTORICO-->
            <label for="history" class="col-sm-6 col-form-label">See your watch history:</label>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary col-sm-6" id="history" data-toggle="modal"
                data-target="#watx_history">
                Click here!
            </button>


            <!-- Modal -->
            <div class="modal fade" id="watx_history" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Watch history:</h3>
                            
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                            <div data-bind="foreach: history">
                                <button type="button" data-bind="text: team1 + ' x ' + team2 + ' ( ' + sport + ' - ' + year+' )', click: $parent.setSelectedGame" 
                                    class="btn btn-light col-sm-12" style="display:block;"></button>
                            </div>
                            <button type="button" class="btn btn-secondary" style="margin-top:10px; float: right;"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="op">
            <!--FAVORITOS-->
            <label for="favs" class="col-sm-6 col-form-label">See your favourites:</label>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary col-sm-6" id="favs" data-toggle="modal"
                data-target="#favoritos">
                Click here!
            </button>


            <!-- Modal -->
            <div class="modal fade" id="favoritos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Your favourites:</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                            <!-- ALTERA AQUI! -->
                            <div data-bind="foreach: favouriteGames">
                                    <button type="button" data-bind="text: team1 + ' x ' + team2 + ' ( ' + sport + ' - ' + year+' )', click: $parent.setSelectedGame" class="btn btn-light col-sm-12"
                                        style="display:block;"></button>
                                </div>
                            <button type="button" class="btn btn-secondary" style="margin-top:10px; float: right;"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="op">
            <!--EVENTOS GUARDADOS-->
            <label for="saved_evs" class="col-sm-6 col-form-label">See the events you saved:</label>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary col-sm-6" id="saved_evs" data-toggle="modal"
                data-target="#saved_events">
                Click here!
            </button>


            <!-- Modal -->
            <div class="modal fade" id="saved_events" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Saved events:</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                            <!-- ALTERA AQUI! -->
                            <div data-bind="foreach: savedEvents">
                                    <button type="button" data-bind="text: title + ' - ' + data, click: goToEvents" class="btn btn-light col-sm-12"
                                        style="display:block;"></button>
                                </div>
                            <button type="button" class="btn btn-secondary" style="margin-top:10px; float: right;"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="op">

            <!--WATCH LATER-->
            <label for="vermaistarde" class="col-sm-6 col-form-label">See your "Watch Later" videos:</label>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary col-sm-6" id="vermaistarde" data-toggle="modal"
                data-target="#watxLater">
                Click here!
            </button>


            <!-- Modal -->
            <div class="modal fade" id="watxLater" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Watch Later:</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- ALTERA AQUI! -->
                                <div data-bind="foreach: watchLater">
                                    <button type="button" data-bind="text: team1 + ' x ' + team2 + ' ( ' + sport + ' - ' + year+' )', click: $parent.setSelectedGame" class="btn btn-light col-sm-12"
                                    style="display:block;"></button>
                                </div>
                            <button type="button" class="btn btn-secondary" style="margin-top:10px; float: right;"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="op">
            <!--TEAMS U FOLLOW-->
            <label for="follow" class="col-sm-6 col-form-label">See the teams you follow:</label>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary col-sm-6" id="follow" data-toggle="modal"
                data-target="#teamsUFollow">
                Click here!
            </button>


            <!-- Modal -->
            <div class="modal fade" id="teamsUFollow" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Teams followed:</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div data-bind="foreach: favouriteTeams">
                                <button type="button" class="btn btn-light col-sm-12" style="display:block;"><a 
                                    data-bind="text: $data, click: $parent.SetSelectedTeam"></a></button>
                            </div>
                            <button type="button" class="btn btn-secondary" style="float: right; margin-top:10px;"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="op">
            <button type="button" class="btn btn-primary col-sm-12" id="logOut" data-toggle="modal"
                data-bind="click: logout">
                Click here to log out!
            </button>
        </div>



    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalCenterTitle" style="color: red;">Add Event</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" data-bind="value: newTitle">   <!--titulo-->
                    <input type="text" data-bind="value: newText">      <!--texto-->
                    <input type="text" data-bind="value: newData">          <!--data-->
                    <input type="text" data-bind="value: newImagem">        <!--link da imagem-->


                    <button type="button" style="float:right;" class="btn btn-secondary" data-bind="click: setNewEvent"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</section>