<section>
    <h2 data-bind="text: displayName"></h2>
    <div class="container-fluid" style="justify-content: space-evenly;">
        <div class="card-deck" data-bind="foreach: eventos">
            <div class="col-sm-6 col-md-3"
                style="text-align: center; align-content: center; align-items: center; align-self: center; box-align: center;">
                <div class="row">
                    <div class="card" style="width: 18rem; border-radius: 20px; margin-bottom: 15px;">
                        <img class="card-img-top" style="border-radius: 20px;" data-bind="attr: { src: imagem }"
                            alt="Card image cap">
                        <div class="card-body">
                            
                                <p data-bind="text : title"></p>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModalCenter">Click to read more</button>
                                <button type="button" class="btn btn-warning"
                                            data-dismiss="modal">Save event!</button>

                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle"
                            arisecondarysecondarysecondarysecondarya-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <h3 class="modal-title" id="exampleModalCenterTitle" data-bind="text : title">
                                        </h3>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p data-bind="text : text">

                                        </p>

                                    </div>
                                    <div class="modal-footer">
                                        <p>Posted on: <span data-bind="text : data"></span></p>
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Save
                                            event!</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end MODAL-->

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>