<section><style>
        video{ 
            margin-top: 30px;
            border-radius: 20px;
            width: 100%;
            height: 100%;
            size: cover;
            margin-bottom: 30px;
        }

        body {
     
        background-image: url('./img/golf-bg.png');

        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;


        /*FONT*/
        font-family: 'Maven Pro', sans-serif;
        }

        .container {
            background: white;
            
        }
    </style>
   
   

    <div class="container">
<h2 data-bind="text: titulo" style="font-family: 'Concert One', sans-serif;"></h2>
        <video width="320" height="240" controls data-bind="html: VideoUrl">
            <!--<source src="movie.mp4" type="video/mp4">-->
        </video>

        <form style="margin: 10px;">

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Comment here!</label>
                <button type="button" style="margin-left: 20px;" class="btn btn-warning" data-bind="click: Submit">Submit!</button>
                <textarea class="form-control" id="exampleFormControlTextarea1" data-bind="value: input" rows="3" style="margin-top: 10px;"></textarea>
            </div>
        </form>
        <div data-bind="foreach: comments">
            <strong><p data-bind="text: username +':'"></p></strong><p data-bind="text: comment"></p>
        </div>
    </div>


 

</section>